.Allproducts {
    display: flex;
    width: 100%;
}

.filter_box {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5px;
    max-height: max-content;

}

.filter {
    margin: 5px 15px 10px 2px;
    padding: 30px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(56, 56, 56, 0.116);

}

.productList {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-around; */
}

.center_text {
    display: flex;
    justify-content: center;
}

.search_div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}

.product_Map {
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 405px;
    justify-content: center;
    overflow-y: scroll;
}


.AllproductsHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.customCard {
    /* width: 400px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(56, 56, 56, 0.116);
    border-radius: 10px;
    margin: 5px 10px;
    height: 400px;
}

.product_img {
    width: 250px;
    height: 234px;
    padding: 0.1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    padding: 10px;
}

.card_info_r1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    margin-top: 5px;

}

.card_info_r2 {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}


.card_info {
    display: grid;
    grid-template-columns: 50% 2;
    grid-row: auto auto;
}

.hidden {
    display: none;
}

.visible {
    display: block;

}


.productDetails {
    display: flex;
    width: 98%;
    padding: 50px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productDetails_left {
    /* width: 100%; */
    /* padding: 10px; */
    /* border-right: 1px solid black; */
}

.productDetails_img_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetails_img {
    width: 250px;
    border-radius: 10px;
    height: 250px;
    width: 50vw;
    height: 50vh;
    object-fit: cover;
}

.productDetails_data {
    display: flex;
    justify-content: space-around;
    padding: 30px 20px 10px 20px;
    flex-direction: column;
}




.rating_text {
    display: flex;
}

.rating_text b {
    width: max-content;
}

.reserve_btn_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.productDetails_discription {
    padding: 10px 100px;

}

.productDetails_discription p {
    font: 300 cursive;
}

.productDetails_discription b {
    font-size: larger;
}

.productDetails_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    /* padding: 15px; */

}

.center_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 80vh; */
}

.allproducts_filter {
    display: flex;
}



@media screen and (max-width: 800px) {
    .filter_box {
        width: 50%;
    }

    /* .rating_text {
        display: block;
    } */
    .productDetails_data {
        padding: 40px 10px 10px 10px;
    }

    .productDetails_img {
        width: 70%;
        height: 60%;
    }
}

@media screen and (max-width: 700px) {
    .filter_box {
        width: 50%;
    }
}

@media screen and (max-width: 950px) {

    .productDetails_discription {
        padding: 10px 30px;
    }

    .productDetails_discription p {
        font-size: 1.8vmax;
    }

    .filter_box {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .productDetails_discription {
        padding: 10px;
    }

    .productDetails_left {
        border: none;
    }

    .productDetails,
    .productDetails_data {
        display: block;
    }

    .productDetails_data_div2,
    .productDetails_data_div1,
    .productList,
    .productDetails_left,
    .productDetails_right {
        width: 100%;
    }


    .filter_box {
        display: none;
    }
}