.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationItem {
    direction: none;
    background-color: transparent;
    outline: none;
    border: none;
}

.resta {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Allproducts {
    /* background-color: rgb(231, 231, 231); */

}

.AllproductsHeader {
    display: flex;
    /* margin-top: 60px; */
    width: 100%;
}